<!-- <button class="button">Normal</button>
<button class="button hover">Hover</button>
<button class="button disabled">Disabled</button> -->
<h2 class="title">Working with POST request</h2>
<form action="" method="post" id="myform">
  <div class="input-group">
    <input id="name" type="text" required name="name" class="input-name" />
    <label for="name" class="input-name-label">Your name</label>
  </div>

  <div class="input-group">
    <input id="email" type="email" required name="email" class="input-email" />
    <label for="email" class="input-email-label">Email</label>
  </div>
  <div class="input-group">
    <input id="number" type="tel" required name="number" class="input-phone" />
    <label for="number" class="input-phone-label">Phone</label>
  </div>
  <label>Select your position</label>
  <div class="cBox">
    <label>
      <input type="radio" name="pos" value="Frontend" />
      Frontend
    </label>
    <label>
      <input type="radio" name="pos" value="Backend" />
      Backend
    </label>
    <label>
      <input type="radio" name="pos" value="Fullstack" />
      Fullstack
    </label>
  </div>
  <input type="file" name="avatar" />

  <input type="submit" value="Save" />
</form>
